.Login {
    display: grid;
    grid-template:
        "header header header" auto
        "...... ...... ......" 1fr
        "...... form   ......" auto
        "...... ...... ......" 1fr
        / 1fr minmax(40vw, auto) 1fr;
    min-height: 100vh;
    padding: var(--Size-600) var(--Size-500);
}

.Login-header {
    grid-area: header;
}

.Login-form {
    grid-area: form;
    /*background-color: var(--Theme-surface);*/
}

.Main {
    --QuickActions-height: 15em;

    display: grid;
    grid-template:
        "......... header        ........." auto
        "......... quick-actions ........." minmax(auto, var(--QuickActions-height))
        "favorites favorites     favorites" auto
        "......... list          ........." 1fr
        "......... fab           ........." auto
        / var(--Size-500) 1fr var(--Size-500);
    grid-column-gap: var(--Size-zero);
    grid-row-gap: var(--Size-600);
    min-height: 100vh;
    padding: var(--Size-600) var(--Size-zero);
}

.Main-header {
    grid-area: header;
}

.Main-quickActions {
    grid-area: quick-actions;
}

.Main-favorites {
    grid-area: favorites;
}

.Main-list {
    grid-area: list;
}

.Main-fab {
    grid-area: fab;
    position: sticky;
    bottom: var(--Size-600);
    pointer-events: none;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header--center {
    justify-content: center;
}

.Favorites {}

.Favorites-heading {
    padding: var(--Size-zero) var(--Size-400);
}

.Favorites-container {
    display: flex;
    padding: var(--Size-400) var(--Size-500);
    gap: var(--Size-400);
    overflow: auto;
}

.List {
    display: flex;
    flex-flow: column;
    gap: var(--Size-400);
}

.List-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--Size-900), 100%), 1fr));
    grid-gap: var(--Size-400);
}

.List-container--tight {
    grid-gap: var(--Size-200);
}

.QuickActions {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--Size-400);
}

.Capitalized::first-letter {
    text-transform: uppercase;
}

.NoMargin {
    margin: 0;
}

.Center {
    text-align: center;
}

@media (min-width: 600px) {
    .QuickActions {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fill, min(var(--Size-900), 100%));
    }

    .Main {
        --QuickActions-height: 8em;
    }
}
