*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background-color: var(--Theme-background);
    color: var(--Theme-background-text);
    margin: 0;
    padding: 0;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em;
}

p {
    margin-top: 0;
}

input, button {
    font-size: 1em;
    border: 0;
}

[hidden] {
    display: none !important;
}
