:root {
    /* Theme */
    --Theme-none: transparent;

    --Theme-background: var(--Palette-neutral-200);
    --Theme-background-text: var(--Palette-neutral-900);

    --Theme-surface: var(--Palette-neutral-200);
    --Theme-surface-text: var(--Palette-neutral-900);
    --Theme-surface-outline: var(--Palette-neutral-600);

    --Theme-surface-variant: var(--Palette-neutral-100);
    --Theme-surface-variant-text: var(--Palette-neutral-900);
    --Theme-surface-variant-outline: var(--Palette-neutral-300);

    --Theme-primary: var(--Palette-accent-900);
    --Theme-primary-text: var(--Palette-neutral-100);

    --Theme-secondary: var(--Palette-neutral-200);
    --Theme-secondary-text: var(--Palette-neutral-900);

    --Theme-tertiary: hsla(43, 83%, 55%, 1);
    --Theme-tertiary-text: var(--Palette-neutral-100);

    --Theme-error: var(--Palette-accent-error-100);
    --Theme-error-text: var(--Palette-accent-error-900);

    /* Sizes */
    --Size-auto: auto;
    --Size-zero: 0;
    --Size-px: 1px;
    --Size-full: 50%;

    --Size-100: .25em;
    --Size-200: .5em;
    --Size-300: .8em;
    --Size-400: 1em;
    --Size-500: 1.5em;
    --Size-600: 2em;
    --Size-700: 4em;
    --Size-800: 15em;
    --Size-900: 18em;

    /* Shadows */
    --Shadow-color-300: rgba(0, 0, 0, .1);
    --Shadow-color-500: rgba(0, 0, 0, .3);
    --Shadow-color-700: rgba(0, 0, 0, .5);

    --Shadow-level-0: none;
    --Shadow-level-1: 0 var(--Size-200) var(--Size-200) var(--Shadow-color-300);
    --Shadow-level-2: 0 var(--Size-400) var(--Size-500) var(--Shadow-color-700);

    /* Interactions */
    --Interaction-highlight: brightness(0.9);
}

@media (prefers-color-scheme: dark) {
    :root {
        /*  Theme */
        --Theme-background: var(--Palette-primary-900);
        --Theme-background-text: var(--Palette-neutral-100);

        --Theme-surface: var(--Palette-primary-900);
        --Theme-surface-text: var(--Palette-neutral-100);
        --Theme-surface-outline: var(--Palette-neutral-500);

        --Theme-surface-variant: var(--Palette-primary-800);
        --Theme-surface-variant-text: var(--Palette-neutral-100);
        --Theme-surface-variant-outline: var(--Palette-neutral-600);

        --Theme-secondary: var(--Palette-primary-900);
        --Theme-secondary-text: var(--Palette-neutral-100);

        --Theme-error: var(--Palette-accent-error-800);
        --Theme-error-text: var(--Palette-neutral-100);

        --Theme-primary: var(--Palette-neutral-100);
        --Theme-primary-text: var(--Palette-accent-900);

        /* Interactions */
        --Interaction-highlight: brightness(1.5);
    }
}
