:root {
    --Button-backgroundColor: var(--Theme-secondary);
    --Button-color: var(--Theme-secondary-text);

    --Button--flat-backgroundColor: inherit;
    --Button--flat-color: inherit;

    --Button--outline-borderColor: var(--Theme-surface-outline);

    --Button--error-backgroundColor: var(--Theme-error);
    --Button--error-color: var(--Theme-error-text);

    --IconButton-backgroundColor: inherit;
    --IconButton-color: inherit;

    --FAB-backgroundColor: var(--Theme-primary);
    --FAB-color: var(--Theme-primary-text);
}

.Button-group {
    display: flex;
    flex-flow: row;
    gap: var(--Size-400);
    margin-top: var(--Size-400);
}

.Button-group--noMargin {
    margin: var(--Size-zero);
}

.Button-group--end {
    justify-content: flex-end;
}

.Button-group--spread .Button {
    width: 100%;
}

.Button, .IconButton, .FAB-button {
    background-color: var(--Button-backgroundColor);
    color: var(--Button-color);
    padding: var(--Size-200) var(--Size-400);
    border-radius: var(--Size-300);
    cursor: pointer;
    user-select: none;
    border: none;
}

.IconButton {
    --Button-backgroundColor: var(--IconButton-backgroundColor);
    --Button-color: var(--IconButton-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--Size-200);
    border-radius: var(--Size-full);
}

.Button:hover, .Button:focus,
.IconButton:hover, .IconButton:focus,
.FAB-button:hover, .FAB-button:focus {
    filter: var(--Interaction-highlight);
}

.Button--flat {
    --Button-backgroundColor: var(--Button--flat-backgroundColor);
    --Button-color: var(--Button--flat-color);
}

.Button--outline {
    border: var(--Size-px) solid var(--Button--outline-borderColor);
}

.Button--error {
    --Button-backgroundColor: var(--Button--error-backgroundColor);
    --Button-color: var(--Button--error-color);
}

.FAB {
    --Button-backgroundColor: var(--FAB-backgroundColor);
    --Button-color: var(--FAB-color);
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
}

.FAB-button {
    padding: var(--Size-200);
    box-shadow: 0 var(--Size-200) var(--Size-500) var(--Shadow-color-500);
    pointer-events: all;
}

