:root {
    --Card-backgroundColor: var(--Theme-surface-variant);
    --Card-color: var(--Theme-surface-variant-text);

    --Card--flat-backgroundColor: inherit;
    --Card--flat-color: inherit;

    --Card--outline-borderColor: var(--Theme-surface-outline);
}

vc-card {
    display: block;
    width: 100%;
    height: 100%;
}

.Card {
    background-color: var(--Card-backgroundColor);
    color: var(--Card-color);
    padding: var(--Size-400);
    border-radius: var(--Size-300);
    box-shadow: var(--Shadow-level-1);
}

.Card[flat],
.Card--flat {
    --Card-backgroundColor: var(--Card--flat-backgroundColor);
    --Card-color: var(--Card--flat-color);
    box-shadow: var(--Shadow-level-0);
}

.Card[outline],
.Card--outline {
    border: var(--Size-px) solid var(--Card--outline-borderColor);
}

.Card[interactive]:hover, .Card[interactive]:focus,
.Card--interactive:hover, .Card--interactive:focus {
    filter: var(--Interaction-highlight);
    cursor: pointer;
}
