:root {
    --Dialog-backgroundColor: var(--Theme-surface-variant);
    --Dialog-color: var(--Theme-surface-variant-text);
}

.Dialog {
    background-color: var(--Dialog-backgroundColor);
    color: var(--Dialog-color);
    padding: var(--Size-400);
    border-radius: var(--Size-300);
    box-shadow: var(--Shadow-level-2);
    cursor: pointer;
}

.Dialog {
    border: var(--Size-zero) !important;
    width: 90%;
    max-width: 30em;
    cursor: auto;
    padding: var(--Size-zero) var(--Size-400) var(--Size-400);
}

.Dialog::backdrop, /* Native */
.Dialog + .backdrop { /* polyfill */
    backdrop-filter: blur(.25em);
}

.Dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--Dialog-backgroundColor);
    padding-top: var(--Size-400);
    padding-bottom: var(--Size-400);
    margin-bottom: var(--Size-100);
    z-index: 10;
}

.Dialog-icon {
    display: grid;
    place-items: center;
}

.Dialog-title {
    display: flex;
    align-items: center;
    gap: var(--Size-400);
    min-width: 0;
}

.Dialog-titleText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Let content be as large as it can */
vc-dialog-trigger > * {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .Dialog {
        margin-bottom: var(--Size-500);
    }
}
