.Field-container {
    display: flex;
    flex-flow: column;
    gap: var(--Size-200);
}

.Field {
    display: grid;
    grid-template:
        "label actions" auto
        "value actions" 1fr
        / 1fr auto;
}

.Field-label {
    grid-area: label;
    opacity: .7;
    font-size: .8em;
    line-height: 1;
}

.Field-value {
    grid-area: value;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.Field-actions {
    grid-area: actions;
    margin: var(--Size-zero);
    display: flex;
    gap: var(--Size-100);
}
