:root {
    --Form-fieldset-borderColor: var(--Theme-surface-variant-outline);

    --Form-legend-backgroundColor: inherit;
    --Form-legend-color: var(--Theme-surface-text);
    --Form-legend-borderColor: var(--Theme-surface-variant-outline);

    --Input-backgroundColor: inherit;
    --Input-color: var(--Theme-surface-text);
    --Input-borderColor: var(--Theme-surface-outline);

    --Input-placeholder-color: var(--Theme-surface-text);
}

.Form, .Form-fieldset {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: var(--Size-400);
}

.Form-row {
    display: flex;
    align-items: flex-end;
    gap: var(--Size-400);
}

.Form-fieldset {
    border: var(--Size-px) solid var(--Form-fieldset-borderColor);
    border-radius: var(--Size-400);
    padding: var(--Size-200) var(--Size-400) var(--Size-400);
}

.Form-legend {
    line-height: 1;
    padding: var(--Size-100) var(--Size-200);
    background-color: var(--Form-legend-backgroundColor);
    color: var(--Form-legend-color);
    border-radius: var(--Size-200);
    border: var(--Size-px) solid var(--Form-legend-borderColor);
}

.InputLabel {
    display: flex;
    flex-flow: column;
    gap: var(--Size-200);
}

.Input {
    width: 100%;
    padding: var(--Size-200) var(--Size-400);
    border-radius: var(--Size-400);
    background-color: var(--Input-backgroundColor);
    color: var(--Input-color);
    border: var(--Size-px) solid var(--Input-borderColor);
}

.Input:focus {
    filter: var(--Interaction-highlight);
}

.Input::placeholder {
    color: var(--Input-placeholder-color);
}
