:root {
    --Item-backgroundColor: inherit;
    --Item-color: inherit;
}

.Item-container {
    display: flex;
    flex-flow: column;
    gap: var(--Size-100);
}

.Item {
    background-color: var(--Item-backgroundColor);
    color: var(--Item-color);
    width: 100%;
    padding: var(--Size-100) var(--Size-200);
    display: flex;
    align-items: center;
    gap: var(--Size-400);
    border-radius: var(--Size-200);
    cursor: pointer;
}

.Item:hover, .Item:focus {
    filter: var(--Interaction-highlight);
}

.Item-icon {}

.Item-label {}

