:root {
    --Logo-color: var(--Theme-background-text);
}

.Logo {
    width: var(--Size-700);
    height: var(--Size-400);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo--big {
    width: var(--Size-800);
}

.Logo path {
    fill: var(--Logo-color);
}

