:root {
    --ServiceIcon-favorite-color: var(--Theme-tertiary);
}

.ServiceIcon {
    width: var(--Size-600);
    height: var(--Size-600);
    background-image: var(--ServiceIcon-url);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.ServiceIcon-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ServiceIcon-favorite-color);
    transform: translate(40%, 30%);
    filter: drop-shadow(0 0 var(--Size-100) var(--Shadow-color-500));
}

