vc-service-card {
    display: block;
}

.ServiceCard {
    display: grid;
    grid-template:
        "icon service extra" minmax(var(--Size-400), 1fr)
        "icon username extra" minmax(var(--Size-400), 1fr)
        / auto 1fr auto;
    grid-column-gap: var(--Size-400);
    grid-row-gap: var(--Size-zero);
    padding: var(--Size-200) var(--Size-400);
}

.ServiceCard-iconContainer {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ServiceCard-service {
    grid-area: service;
    font-weight: bold;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.ServiceCard-username {
    grid-area: username;
    min-height: var(--Size-400);
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.ServiceCard-extra {
    grid-area: extra;
    display: flex;
    align-items: center;
}