:root {
    --Palette-theme: hsl(212, 60%, 19%); /* For reference */

    --Palette-hue-primary: 212; /* Blue */
    --Palette-hue-error: 9;     /* Red */
    --Palette-hue-warning: 50;  /* Yellow */
    --Palette-hue-success: 139; /* Green */
    --Palette-hue-info: 179;    /* Aqua */

    --Palette-primary-100: hsl(var(--Palette-hue-primary), 100%, 84%);
    --Palette-primary-200: hsl(var(--Palette-hue-primary), 73%, 71%);
    --Palette-primary-300: hsl(var(--Palette-hue-primary), 66%, 62%);
    --Palette-primary-400: hsl(var(--Palette-hue-primary), 61%, 54%);
    --Palette-primary-500: hsl(var(--Palette-hue-primary), 70%, 45%);
    --Palette-primary-600: hsl(var(--Palette-hue-primary), 73%, 39%);
    --Palette-primary-700: hsl(var(--Palette-hue-primary), 77%, 32%);
    --Palette-primary-800: hsl(var(--Palette-hue-primary), 83%, 26%);
    --Palette-primary-900: hsl(var(--Palette-hue-primary), 100%, 16%);

    --Palette-neutral-100: hsl(var(--Palette-hue-primary), 12%, 95%);
    --Palette-neutral-200: hsl(var(--Palette-hue-primary), 16%, 81%);
    --Palette-neutral-300: hsl(var(--Palette-hue-primary), 15%, 72%);
    --Palette-neutral-400: hsl(var(--Palette-hue-primary), 15%, 62%);
    --Palette-neutral-500: hsl(var(--Palette-hue-primary), 15%, 53%);
    --Palette-neutral-600: hsl(var(--Palette-hue-primary), 14%, 45%);
    --Palette-neutral-700: hsl(var(--Palette-hue-primary), 14%, 36%);
    --Palette-neutral-800: hsl(var(--Palette-hue-primary), 14%, 28%);
    --Palette-neutral-900: hsl(var(--Palette-hue-primary), 15%, 17%);

    --Palette-accent-100: hsl(var(--Palette-hue-primary), 98%, 83%);
    --Palette-accent-200: hsl(var(--Palette-hue-primary), 73%, 71%);
    --Palette-accent-300: hsl(var(--Palette-hue-primary), 65%, 63%);
    --Palette-accent-400: hsl(var(--Palette-hue-primary), 61%, 54%);
    --Palette-accent-500: hsl(var(--Palette-hue-primary), 70%, 45%);
    --Palette-accent-600: hsl(var(--Palette-hue-primary), 73%, 39%);
    --Palette-accent-700: hsl(var(--Palette-hue-primary), 77%, 32%);
    --Palette-accent-800: hsl(var(--Palette-hue-primary), 83%, 26%);
    --Palette-accent-900: hsl(var(--Palette-hue-primary), 100%, 16%);

    --Palette-accent-error-100: hsl(var(--Palette-hue-error), 98%, 83%);
    --Palette-accent-error-200: hsl(var(--Palette-hue-error), 73%, 71%);
    --Palette-accent-error-300: hsl(var(--Palette-hue-error), 65%, 63%);
    --Palette-accent-error-400: hsl(var(--Palette-hue-error), 61%, 54%);
    --Palette-accent-error-500: hsl(var(--Palette-hue-error), 70%, 45%);
    --Palette-accent-error-600: hsl(var(--Palette-hue-error), 73%, 39%);
    --Palette-accent-error-700: hsl(var(--Palette-hue-error), 77%, 32%);
    --Palette-accent-error-800: hsl(var(--Palette-hue-error), 83%, 26%);
    --Palette-accent-error-900: hsl(var(--Palette-hue-error), 100%, 16%);

    --Palette-accent-warning-100: hsl(var(--Palette-hue-warning), 98%, 83%);
    --Palette-accent-warning-200: hsl(var(--Palette-hue-warning), 73%, 71%);
    --Palette-accent-warning-300: hsl(var(--Palette-hue-warning), 65%, 63%);
    --Palette-accent-warning-400: hsl(var(--Palette-hue-warning), 61%, 54%);
    --Palette-accent-warning-500: hsl(var(--Palette-hue-warning), 70%, 45%);
    --Palette-accent-warning-600: hsl(var(--Palette-hue-warning), 73%, 39%);
    --Palette-accent-warning-700: hsl(var(--Palette-hue-warning), 77%, 32%);
    --Palette-accent-warning-800: hsl(var(--Palette-hue-warning), 83%, 26%);
    --Palette-accent-warning-900: hsl(var(--Palette-hue-warning), 100%, 16%);

    --Palette-accent-success-100: hsl(var(--Palette-hue-success), 98%, 83%);
    --Palette-accent-success-200: hsl(var(--Palette-hue-success), 73%, 71%);
    --Palette-accent-success-300: hsl(var(--Palette-hue-success), 65%, 63%);
    --Palette-accent-success-400: hsl(var(--Palette-hue-success), 61%, 54%);
    --Palette-accent-success-500: hsl(var(--Palette-hue-success), 70%, 45%);
    --Palette-accent-success-600: hsl(var(--Palette-hue-success), 73%, 39%);
    --Palette-accent-success-700: hsl(var(--Palette-hue-success), 77%, 32%);
    --Palette-accent-success-800: hsl(var(--Palette-hue-success), 83%, 26%);
    --Palette-accent-success-900: hsl(var(--Palette-hue-success), 100%, 16%);

    --Palette-accent-info-100: hsl(var(--Palette-hue-info), 98%, 83%);
    --Palette-accent-info-200: hsl(var(--Palette-hue-info), 73%, 71%);
    --Palette-accent-info-300: hsl(var(--Palette-hue-info), 65%, 63%);
    --Palette-accent-info-400: hsl(var(--Palette-hue-info), 61%, 54%);
    --Palette-accent-info-500: hsl(var(--Palette-hue-info), 70%, 45%);
    --Palette-accent-info-600: hsl(var(--Palette-hue-info), 73%, 39%);
    --Palette-accent-info-700: hsl(var(--Palette-hue-info), 77%, 32%);
    --Palette-accent-info-800: hsl(var(--Palette-hue-info), 83%, 26%);
    --Palette-accent-info-900: hsl(var(--Palette-hue-info), 100%, 16%);
}
